<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="static/css/style.css" />
</head>


<body>
    <h1>Chat</h1>

    <div id="loading" style="display: none;">
        Loading...
    </div>

    <form id="question-form">
        <label>Enter your question:</label>
        <input type="text" id="question" name="question" size="120"  style="height: 100px;"/>
        <input type="submit" value="Submit" />
    </form>

    <form action="/shutdown" method="get">
        <button type="submit">Shut Down</button>
    </form>

    <div id="response"></div>

    <h2>Conversation History</h2>
    <div id="history"></div>

    <form action="/save" method="POST">
        <input type="text" name="name" placeholder="Enter a name" />
        <input type="submit" value="save" />
    </form>
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script>
        $(document).ready(function() {
            $('#question-form').submit(function(event) {
                document.getElementById('loading').style.display = 'block';
                event.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '/conversation',
                    data: $(this).serialize(),
                    success: function(response) {
                        document.getElementById('loading').style.display = 'none';
                        
                        // Access the first element of the 'choices' array and the 'text' property
                        var chatbotResponse = response['formatted'];

                        // Set the text of the 'response' div to the chatbot's response
                        $('#response').html(chatbotResponse);

                        // Append the user's question and the chatbot's response to the 'history' div
                        // history is a var
                        $('#history').append($('<p>').html($('#question').val()));
                        $('#history').append($('<p>').html(chatbotResponse));
                    }
                });
            });
        });




    </script>


</body>
</html>
